.navbar {
    width: 100%;
    min-height: 70px;
    align-items: center;

    .avatar {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-inline-end: 1rem;
        cursor: pointer;
    }

    .logo {
        font-family: 'Marck Script', cursive;
        margin-inline-start: 1rem;
    }
}

.menu {
    position: relative;
    z-index: 999999;
}

.logout {
    transition: all .3s linear;
    position: absolute;
    bottom: -45px;
    right: 17px;
    background-color: hsl(0, 0%, 90.7%);
    color: red;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 103px;
    padding-block: .5rem;
    z-index: 9;
}

.greeting-text{
    display: none;

    @media screen and (min-width: 768px) {
        display: unset;
        
    }
}