table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
@media screen and (max-width: 650px) {
  table {
    width: 700px;
  }
}

.table-container {
  width: 100%;
  overflow-x: scroll;
  -webkit-margin-after: 4rem;
          margin-block-end: 4rem;
}
@media screen and (min-width: 768px) {
  .table-container {
    margin-inline: auto;
    width: 740px;
  }
}
@media screen and (min-width: 992px) {
  .table-container {
    width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .table-container {
    width: 1140px;
  }
}
@media screen and (min-width: 1400px) {
  .table-container {
    width: 1320px;
  }
}

th {
  padding: 0.5rem;
  text-align: left;
  font-weight: 500;
}

thead,
thead th {
  background-color: hsl(0deg, 0%, 79.7%);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

td {
  padding-block: 1rem;
  border-style: none;
}

tr:nth-child(even) {
  background-color: hsl(0deg, 0%, 90.7%);
}

.headerSortUp {
  background: url("data:image/gif;base64, R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==") no-repeat 99%;
}

.search-form {
  width: 17.875rem;
  padding: 0.5rem;
  background-color: hsl(0deg, 0%, 79.7%);
  gap: 0.5rem;
  -webkit-margin-before: 0.2rem;
          margin-block-start: 0.2rem;
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
}

.favourite {
  background-color: yellow !important;
}

.searchTerm {
  background-color: hsl(0deg, 0%, 79.7%);
  height: 1rem;
  border: none;
  outline: none;
  color: black;
  width: 85%;
}

.search-img-container img {
  height: 15px;
  margin-left: 0.2rem;
}

.locations {
  font-size: 2.1rem;
}/*# sourceMappingURL=spot-table.component.css.map */