$container-md: 740px;
$container-lg: 960px;
$container-xlg: 1140px;
$container-xxlg: 1320px;

table {
    width: 100%;
    //overflow-x: scroll;
    border-collapse: collapse;
    table-layout: fixed;


    @media screen and (max-width: 650px) {

        width: 700px;

    }
}

.table-container {
    width: 100%;
    overflow-x: scroll;
    margin-block-end: 4rem;


    @media screen and (min-width: 768px) {
        margin-inline: auto;
        width: $container-md;

    }


    @media screen and (min-width: 992px) {

        width: $container-lg;

    }

    @media screen and (min-width: 1200px) {

        width: $container-xlg;

    }

    @media screen and (min-width: 1400px) {

        width: $container-xxlg;

    }
}




th {
    padding: .5rem;
    text-align: left;
    font-weight: 500;
}

thead,
thead th {
    background-color: hsl(0, 0%, 79.7%);
    cursor: pointer;
    user-select: none;
}

td {
    padding-block: 1rem;
    border-style: none;
}

tr:nth-child(even) {
    background-color: hsl(0, 0%, 90.7%);
}



.headerSortUp {
    background: url("data:image/gif;base64, R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==") no-repeat 99%;
}


.search-form {
    width: 17.875rem;
    padding: .5rem;
    background-color: hsl(0, 0%, 79.7%);
    gap: .5rem;
    margin-block-start: .2rem;
    margin-block-end: 1rem;
}

.favourite {
    background-color: #f0ad4e !important;
}

.searchTerm{
    background-color: hsl(0, 0%, 79.7%);
    height: 1rem;
    border: none;
    outline: none;
    color: black;
    width: 85%;
}

.search-img-container{
    img{
        height: 15px;
        margin-left: .2rem;
    }
}

.locations{
    font-size: 2.1rem;
}